<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Перевод слова с синонимами</h3>
  </div>
</div>

<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <p><%= @translation_with_synonyms %></p>
   </div>
</div>


   