<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>Англо-русский переводчик</h3>
  </div>
</div>

<form method="post">
  <div class="grid-x grid-padding-x">
    <div class="medium-12 cell">
      <label>Введите слово или фразу для перевода
        <input type="text" placeholder="hi" name="en_word_or_phrase">
      </label>
      <select name="select">
        <option value="/word/en">
          Перевести слово
        </option>
        <option value="/letter/en">
          Список слов на заданную букву
        </option>
        <option value="/phrase/en">
          Перевести фразу
        </option>
      </select>
      <input type="submit" value="Выбрать" class="button">
    </div>
  </div>
</form>