<!doctype html>
<html class="no-js" lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Переводчик</title>
    <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <ul class="menu">
      <li><a href="/">Англо-русский переводчик</a></li>
      <li><a href="/ruen">Русско-английский переводчик</a></li>
    </ul>

    <div class="grid-container">
      <%= yield %>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/vendor/what-input.js"></script>
    <script src="/js/vendor/foundation.js"></script>
  </body>
</html>
